h1 {
    text-align: center;
    font-size: 42;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    text-decoration: underline;
}
h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 24;
}
body {
    margin: 0 10%;
}
li {
    font-family: 'Raleway', sans-serif;
    color: black;
    padding: 10 5;
}
.work li a {
    color: #009914;
}
.work li a:hover {
    text-decoration: none;
    color: blue;
}
.broken li a {
    color: #b82a2a;
}
.broken li a:hover {
    text-decoration: none;
    color: blue;
}